.multimedia-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.multimedia-card {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #242424;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.multimedia-card img {
  max-width: 100%;
  border-radius: 4px;
}

.multimedia-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: white;
}

.multimedia-card p {
  margin: 5px 0;
  font-size: 0.9em;
  color: white;
}

.multimedia-card .calif{
    color: yellow;
}

.keyword-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.episode-card {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  display: flex; /* Usar flexbox para la disposición */
}

.episode-content {
  display: flex; /* Flexbox para la disposición interna */
  width: 100%; /* Asegura que ocupa todo el ancho de la tarjeta */
}

.episode-image {
  max-width: 300px;
  width: auto;
  max-height: fit-content; /* Mantiene la relación de aspecto */
  margin-right: 10px; /* Espacio entre la imagen y la información */
}

.episode-info {
  flex-grow: 1; /* Hace que esta sección tome el resto del espacio */
}
.episode-card {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  position: relative; /* Para mantener el contenido dentro de la tarjeta */
  flex-direction: column;
}

.cast-section {
  margin-top: 10px;
  border-top: 1px solid #ccc; /* Añade una línea separadora */
  padding-top: 10px; /* Espaciado superior para que no esté pegado */
}

.multimedia-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaciado entre las tarjetas */
}

.multimedia-card {
  width: 100px; /* Ajusta el ancho según tus necesidades */
  text-align: center; /* Centra el contenido */
}

.multimedia-card img {
  width: 100%; /* Ajusta la imagen para que ocupe todo el ancho de la tarjeta */
  border-radius: 8px; /* Agrega bordes redondeados si lo deseas */
}